body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial;
  background: linear-gradient(to bottom, #87ceeb, #ffffff);
  padding:20px;
  box-sizing:border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  width: 800px;
  max-width: 100%;
}

    
.search {
  display: flex;
  gap: 10px;
  width:100%;
}

input {
  flex:1;
  padding: 10px;
  min-width:0;
  font-size:16px;
}

button {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  flex:0 0 180px;
}

input,
button {
  border-radius: 8px;
}

.results {
  min-height: 300px;
  border: 2px solid #141313;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
  width: 100%;
  box-sizing:border-box;
}

.about-link{
  color:white;
  text-align:center;
}

@media(max-width:600px){
  button{
    flex:0 0 120px;
    font-size:16px;
  }

  .search{
    flex-wrap:wrap;
  }

  input{
    width:100%;
  }

  button{
    flex:1;
    font-size:14px;
    padding:10px 6px;
  }

  .results{
    min-height:200px;
    font-size:14px;
  }
}

